@model Electo.PL.Models.CategoryVM
@{
    ViewBag.Title = "Add Category";
}

<h1>Add Category</h1>
<br>
<br>
<form asp-controller="Categorys" asp-action="Create" method="post">

    <label>Category Name</label>
    <input type="text" asp-for="CategoryName" class= "form-control"/>
    <span class="text-danger" asp-validation-for="CategoryName"></span>
    <br>
    <center>
     <input type="submit" value="Save" class="btn btn-primary"/>
    </center>
</form>