@model Electo.PL.Models.SignIn
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sign In</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/plu/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/plu/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/plu/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">User Sign In</a>
        </div>
        <div class="card">
            <div class="body">
                <form asp-controller="Account" asp-action="SignIn" method="post">
                    <div class="msg">Sign in to start your session</div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input asp-for="UserName" type="text" class="form-control" placeholder="User Name">
                        </div>
                        <div class ="">
                            <span class="text-danger" asp-validation-for="UserName"> </span>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input asp-for="Password" type="password" class="form-control"  placeholder="Password">
                        </div>
                        <div class ="">
                            <span class="text-danger" asp-validation-for="Password"> </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 p-t-5">
                            <input type="checkbox" asp-for=" Rememberme" class="filled-in chk-col-pink">
                            <label asp-for="Rememberme">Remember Me</label>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
                        </div>
                    </div>
                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-6">
                            <a asp-controller ="Account" asp-action="SignUp" >Register Now!</a>
                        </div>
                        <div class="col-xs-6 align-right">
                            <a asp-controller ="Account" asp-action="ForgetPassword" >Forgot Password?</a>
                        </div>
                    </div>
                    <div>
                        <li>
                            <a asp-controller ="Account"
                            asp-action="FacebookLogin"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a asp-controller ="Account"
                            asp-action="GoogleLogin"><i class="fa fa-google"></i></a>
                        </li>
                     </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="~/plu/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/plu/bootstrap/js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/plu/node-waves/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="~/plu/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- Custom Js -->
    <script src="~/js/admin.js"></script>
    <script src="~/js/pages/examples/sign-in.js"></script>
</body>

</html>
