@model IEnumerable<Electo.PL.Models.ProductVM>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

    <div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Result ......  </h3>
                </div>
            </div>
        
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                 
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                           
                            <div class="products-slick" >
                            @foreach (var itemP in Model)
                               {
                                <!-- product -->
                                <div class="product">
                                  
                                    <div class="product-img">
                                        <img src="~/Files/Photos/@itemP.Image" alt="">
                                        <div class="product-label">
                                            <span class="sale">-30%</span>
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">

                                        <h3 class="product-name"><a href="#">@itemP.Name</a></h3>
                                        <h4 class="product-price">$@itemP.Salary</h4>
                                        <div class="product-btns">
                                            <button class="quick-view">
                                                <a asp-controller="Home" asp-action="PDetails" 
                                                asp-route-id="@itemP.Id"  class="fa fa-eye"></a>
                                                <span class="tooltipp">Details</span>
                                            </button> 
                                        </div>
                                      <br>
                                       <form action="/Home/AddToCart" method="post">
                                           <input type="hidden" id="ProductId" name="ProductId" value="@itemP.Id">
                                           <div class="form-group">
                                               <label class="control-label"for="Quantity">Quantity: </label>
                                               <input name="Quantity" id="Quantity" required min="1" max="3000" 
                                                type="number"class="input-small">
                                           </div>
                                           <div class="add-to-cart">
                                               <button class="add-to-cart-btn">
                                               <i class="fa fa-shopping-cart">

                                               </i> add to cart</button>
                                           </div>
                                       </form>
                                    </div>
                                </div>
                                <!-- /product -->
                               }
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                                   
                   
                </div>
            </div>
            <!-- Products tab & slick -->
            
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    </div>